@model OnlineBankingForManagers.Domain.Personages.Client

<div class="item">
    <h3>@Model.Login</h3>
    @Model.Password
    @Model.Address
    
    <h4>@Model.Email</h4>
     @using (Html.BeginForm("Delete", "Client"))
                {@Html.Hidden("ClientId", Model.ClientId)
                    <input type="submit" value="Delete" />
                }


    
</div>
