@model OnlineBankingForManagers.Domain.Personages.Client

<div class="item">
   @Model.Login
    @Model.Password
    @Model.Address
    
    @Model.Email
     @using (Html.BeginForm("Delete", "Client"))
                {@Html.Hidden("ClientId", Model.ClientId)
                    <input type="submit" value="Delete" />
                }


    
</div>
