
@{
  ViewBag.Title = "Clients";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="categories">
    @{ Html.RenderAction("Menu", "Nav"); }
   
    
</div>

    @Model.GetHtml();

<div class="pager">
  
</div>

 